<div>
<h1 align="center">如何直播？</h1>
<p>1、注册一个用户，登录。</p>
<p>2、创建一个直播,并获取直播rtmp推流。</p>
<p>3、使用OBS等推流工具，将视频流推至获取的推流地址。</p>


<br><br><br><br>
<h1 align="center">OBS下载</h1>
<p><a href="https://github.com/jp9000/obs-studio/releases/download/20.1.0/OBS-Studio-20.1-Full-Installer.exe">Windwos7+</a></p>
<p><a href="https://github.com/jp9000/obs-studio/releases/download/20.1.0/obs-mac-20.1-installer.pkg">Mac OS X</a></p>
<p><a href="https://github.com/jp9000/obs-studio/wiki/Install-Instructions#linux">Linux</a></p>
<!--<div>{:captcha_img()}</div>-->
</div>

