        <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>欢迎来到星空直播</h1>
        <p>来试试把～</p>
       
        <p>
          <a class="btn btn-lg btn-primary" href="?s=/Index/Index/app" role="button">创建一个直播 &raquo;</a>
        </p>

      </div>

      <div class="jumbotron">
        <h1>如何直播？</h1>
        <p>通过创建直播获取直播推流，继而通过OBS等工具直播。</p>
       
        <p>
          <a class="btn btn-lg btn-primary" href="?s=/Index/Index/about" role="button">详细方法以及工具下载 &raquo;</a>
        </p>

      </div>
