<form>
  <div class="form-group">
    <label for="nickname_input">昵称</label>
    <input type="nickname" class="form-control" id="nickname_input" placeholder="请输入昵称">
  </div>
  <div class="form-group">
    <label for="username_input">用户名</label>
    <input type="username" class="form-control" id="username_input" placeholder="请输入用户名">
  </div>
  <div class="form-group">
    <label for="password_input">密码</label>
    <input type="password" class="form-control" id="password_input" placeholder="请输入密码">
  </div>
  <button id='btsignin' type="button" class="btn btn-default"> 注册 </button>
</form>

<script src="static/js/login.js"></script>
